.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #33272a;
  /* margin-bottom: 40px; */
}

.Appcontainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  margin-bottom: 30px 30px;
  text-align: left;
  color: #594a4e;
}

/* Hero */
.jumbotronImg {
  width: 600px;
  height: 400px;
  object-fit: cover;
  /* padding: 50; */
  margin-left: 50;
}
.headJumbotron {
  margin-top: 50px;
  font-size: 70px;
  align-items: baseline;
  font-family: serif;
}
.headlineJumbotron {
  color: #33272a;
}
/* Hero */

/* Features and Products */
.featureProduct {
  background-color: #faeee7;
  padding: 150px;
  display: flex;
  flex-direction: column;
  order: 5;
  align-items: center;
  color: #594a4e;
}
.inputGroup {
  margin-bottom: 5;
  height: 30;
  width: 9;
  border: 9;
  margin-left: 9;
  padding-left: 9;
}
.Input {
  margin: 8px;
  padding: 9px;
  display: flex;
  width: 400px;
}

