.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #33272a;
  /* margin-bottom: 40px; */
}

.Appcontainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  margin-bottom: 30px 30px;
  text-align: left;
  color: #594a4e;
}

/* Hero */
.jumbotronImg {
  width: 600px;
  height: 400px;
  object-fit: cover;
  /* padding: 50; */
  margin-left: 50;
}
.headJumbotron {
  margin-top: 50px;
  font-size: 70px;
  align-items: baseline;
  font-family: serif;
}
.headlineJumbotron {
  color: #33272a;
}
/* Hero */

/* Features and Products */
.featureProduct {
  background-color: #faeee7;
  padding: 150px;
  display: flex;
  flex-direction: column;
  order: 5;
  align-items: center;
  color: #594a4e;
}
.Input {
  margin: 8px;
  padding: 9px;
  display: flex;
  width: 400px;
}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.parcelOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.parcelOptions:hover {
  color: #ff8ba7;
}

.caption {
  margin-left: 250px;
  margin-right: 250px;
  text-align: center;
  color: #594a4e;
}
