.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  margin: 0px;
}

.card-wrapper {
  align-items: center;
  width: 250px;
  border-style: none;
}
.parcel-container {
  display: flex;
  flex-direction: row;
}

.registerSection {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;
}

.registerContainer {
  padding: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: none;
  border-radius: 15px;
  border-width: thin;
  background-color: #e5defc;
  color: #391f6d;
  width: 30%;
  height: 450px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerItem {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px;
}

.registerInput {
  padding: 5px;
  outline: none;
  border-style: none;
  border-radius: 10px;
  text-align: center;
  margin-top: 5px;
}

/* .registerInput:focus {
  color: #391f6d;
} */

.registerBtn {
  background-color: #592fad;
  outline: none;
  border-style: none;
  padding: 5px;
  border-radius: 10px;
  width: 100px;
  align-self: center;
  color: white;
}

.registerBtn:hover {
  cursor: pointer;
}

.product-detail-container {
  padding: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.image-detail {
  margin: 40px;
  width: 50%;
  height: 400px;
  background-color: #282c34;
}

.product-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.product-detail {
  width: 50%;
  margin: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.description-container {
  text-align: justify;
}

.product-price {
  text-align: left;
  font-size: 18px;
}

.product-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-to-cart {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}
.parcel-options-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.parcel-options {
  display: flex;
  flex-direction: row;
}

.parcel-option-category {
  padding: 10px;
}
.parcel-option-category > h4 {
  justify-self: center;
}
